
<div class="footer">
    <hr>
    <footer class="footer sticky-bottom" style="background: url(static/images/pishen.jpg) no-repeat right;background-size: 2500px 450px">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-4 col-md-2">
                <p class="lead">
                    <small><strong>About</strong></small>
                </p>
                <ul class="list-unstyled" style="color: #A0522D">
                    <li><a href="https://www.pokemon.com/" style="color: #A0522D">Pokemon</a></li>
                    <li><a href="https://www.ucl.ac.uk" style="color: #A0522D">UCL</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <p class="lead">
                    <small><strong>Stay Connected</strong></small>
                </p>
                <ul class="list-unstyled" style="color: #A0522D">
                    <li><a href="https://twitter.com" style="color: #A0522D">Twitter</a></li>
                    <li><a href="https://facebook.com" style="color: #A0522D">Facebook</a></li>
                    <li><a href="https://github.com/zihaow95/COMPGC27_Group5" style="color: #A0522D">GitHub</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <p class="lead">
                    <small><strong>Team Members</strong></small>
                </p>
                <ul class="list-unstyled" style="color: #A0522D">
                    <li><a style="color: #A0522D"> Li Xuanzeng</a></li>
                    <li><a style="color: #A0522D"> Wang Zihao</a></li>
                    <li><a style="color: #A0522D"> Wu Yonglin</a></li>
                    <li><a style="color: #A0522D"> Zhang Yueying</a></li>
                    <li><a style="color: #A0522D"> Zhang Zeyang</a></li>
                    <li><a style="color: #A0522D"> Zhou Qianqian</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img src="static/images/ucl_engineering.jpeg" width="200" height="60"/>
                <p class="text-muted">&copy; 2017 UCL ENGINEERING</p>
            </div>
        </div>
    </div>

</footer>
</div>