<div class="home">
    <hr>
    <div class="landing-section hero" >
        <!--style="background-color: #6AA9F8;"-->
        <!--background:-webkit-linear-gradient(top, #555555, #FAFAFA，     EE82EE )-->
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h4 class="hero-tagline" style="font-family:'Trebuchet MS';">COMPGC27 Group 5</h4>
                    <h1 class="hero-title" style="font-family:'Trebuchet MS';">Programming for Business Analytics</h1>
                    <br>
                    <p>
                        <a>Professional </a>
                        <a>Accurate</a>
                    </p>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <img src="static/images/pokemon_title.png"
                         title="Pokemon"
                         alt="Pokemon title"
                         class="logo img-responsive"/>
                </div>
            </div>
        </div>
        <br>
        <hr>
    </div>
</div>
