<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Query</title>
</head>
<body>

<style>
    #left,#right { display: table-cell; }
</style>


<div id="left">
    <form class="bs-example bs-example-form" role="form" action="{{url_for('querypage')}}" method="POST">
        <h2>Please form your team</h2>

        <br>
<!--enter pokemon 1-->
        <h3>Please enter the first pokemon</h3>
        <div class="input-group" style="margin-left: 5%">
            {% if result1 %}
            <input type="text" class ="form-control" style="display: inline;width: 50%;height: 25px" name="Pokemon_name1"
            value="{{ result1.Name }}" >
            {% else %}
            <input type="text" class ="form-control" style="display: inline;width: 50%;height: 25px" name="Pokemon_name1">
            {% endif %}
            <input type="submit" value="query" style="margin-left: 2%" name="query1">
            <input type="submit" value="add" style="margin-left: 2%" name="add1">
        </div>

        <br>
<!--enter pokemon 2-->
        <h3>Please enter the second pokemon</h3>
        <div class="input-group" style="margin-left: 5%">
            {% if result2 %}
            <input type="text" class ="form-control" style="display: inline;width: 50%;height: 25px" name="Pokemon_name2"
            value="{{ result2.Name }}">
            {% else %}
            <input type="text" class ="form-control" style="display: inline;width: 50%;height: 25px" name="Pokemon_name2">
            {% endif %}
            <input type="submit" value="query" style="margin-left: 2%" name="query2">
            <input type="submit" value="add" style="margin-left: 2%" name="add2">
        </div>

<!--enter pokemon 3-->
        <br>

        <h3>Please enter the third pokemon</h3>
        <div class="input-group" style="margin-left: 5%">
            {% if result3%}
            <input type="text" class ="form-control" style="display: inline;width: 50%;height: 25px" name="Pokemon_name3"
            value="{{ result3.Name }}">
            {% else %}
            <input type="text" class ="form-control" style="display: inline;width: 50%;height: 25px" name="Pokemon_name3">
            {% endif %}
            <input type="submit" value="query" style="margin-left: 2%" name="query3">
            <input type="submit" value="add" style="margin-left: 2%" name="add3">
        </div>

<!--pokemon 1 infomation display-->
        <div>
            {% if result1 %}
            <table class="table table-hover table-bordered" style="width: 40%;margin-left: 5%">
                <caption>Pokemon 1 Information</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type1</th>
                    <th>Type2</th>
                    <th>HP</th>
                    <th>Attack</th>
                    <th>Defense</th>
                    <th>Sp. Atk</th>
                    <th>Sp. Def</th>
                    <th>Speed</th>
                    <th>Generation</th>
                    <th>Legendary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{result1.ID}}</td>
                    <td>{{result1.Name}}</td>
                    <td>{{result1.Type1}}</td>
                    <td>{{result1.Type2}}</td>
                    <td>{{result1.HP}}</td>
                    <td>{{result1.Attack}}</td>
                    <td>{{result1.Defense}}</td>
                    <td>{{result1.Sp_Atk}}</td>
                    <td>{{result1.Sp_Def}}</td>
                    <td>{{result1.Speed}}</td>
                    <td>{{result1.Generation}}</td>
                    <td>{{result1.Legendary}}</td>
                </tr>
                </tbody>
            </table>
            {% endif %}

            {% if addation1 %}
            <alert class="alert-warning" style="margin-left: 5%">
                {{addation1}}
            </alert>
            {% endif %}

            {% if warning1 %}
            <alert class="alert-warning" style="margin-left: 5%">
                {{warning1}}
            </alert>
            {% endif %}
        </div>

<!--pokemon 2 information display-->
        <div>
            {% if result2 %}
            <table class="table table-hover table-bordered" style="width: 40%;margin-left: 5%">
                <caption>Pokemon 2 Information</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type1</th>
                    <th>Type2</th>
                    <th>HP</th>
                    <th>Attack</th>
                    <th>Defense</th>
                    <th>Sp. Atk</th>
                    <th>Sp. Def</th>
                    <th>Speed</th>
                    <th>Generation</th>
                    <th>Legendary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{result2.ID}}</td>
                    <td>{{result2.Name}}</td>
                    <td>{{result2.Type1}}</td>
                    <td>{{result2.Type2}}</td>
                    <td>{{result2.HP}}</td>
                    <td>{{result2.Attack}}</td>
                    <td>{{result2.Defense}}</td>
                    <td>{{result2.Sp_Atk}}</td>
                    <td>{{result2.Sp_Def}}</td>
                    <td>{{result2.Speed}}</td>
                    <td>{{result2.Generation}}</td>
                    <td>{{result2.Legendary}}</td>
                </tr>
                </tbody>
            </table>
            {% endif %}

            {% if addation2 %}
            <alert class="alert-warning" style="margin-left: 5%">
                {{addation2}}
            </alert>
            {% endif %}

            {% if warning2 %}
            <alert class="alert-warning" style="margin-left: 5%">
                {{warning2}}
            </alert>
            {% endif %}
        </div>

<!--pokemon 3 information display-->
        <div>
            {% if result3 %}
            <table class="table table-hover table-bordered" style="width: 40%;margin-left: 5%">
                <caption>Pokemon 3 Information</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type1</th>
                    <th>Type2</th>
                    <th>HP</th>
                    <th>Attack</th>
                    <th>Defense</th>
                    <th>Sp. Atk</th>
                    <th>Sp. Def</th>
                    <th>Speed</th>
                    <th>Generation</th>
                    <th>Legendary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{result3.ID}}</td>
                    <td>{{result3.Name}}</td>
                    <td>{{result3.Type1}}</td>
                    <td>{{result3.Type2}}</td>
                    <td>{{result3.HP}}</td>
                    <td>{{result3.Attack}}</td>
                    <td>{{result3.Defense}}</td>
                    <td>{{result3.Sp_Atk}}</td>
                    <td>{{result3.Sp_Def}}</td>
                    <td>{{result3.Speed}}</td>
                    <td>{{result3.Generation}}</td>
                    <td>{{result3.Legendary}}</td>
                </tr>
                </tbody>
            </table>
            {% endif %}

            {% if addation3 %}
            <alert class="alert-warning" style="margin-left: 5%">
                {{addation3}}
            </alert>
            {% endif %}

            {% if warning3 %}
            <alert class="alert-warning" style="margin-left: 5%">
                {{warning3}}
            </alert>
            {% endif %}
        </div>

        <br>

    </form>
</div>

<div id="right">
    <form class="bs-example bs-example-form" role="form" action="{{url_for('querypage')}}" method="POST">
<!--enter rival pokemon 1-->
        <h2>What about your rival's team</h2>
        <br>
        <h3>Please enter the first pokemon</h3>
        <div class="input-group" style="margin-left: 5%">
            {% if result4 %}
            <input type="text" class ="form-control" style="display: inline;width: 50%;height: 25px" name="Pokemon_name4"
            value="{{ result4.Name }}" >
            {% else %}
            <input type="text" class ="form-control" style="display: inline;width: 50%;height: 25px" name="Pokemon_name4">
            {% endif %}
            <input type="submit" value="query" style="margin-left: 2%" name="query4">
            <input type="submit" value="add" style="margin-left: 2%" name="add4">
        </div>

        <br>
<!--enter rival pokemon 2-->
        <h3>Please enter the second pokemon</h3>
        <div class="input-group" style="margin-left: 5%">
            {% if result5 %}
            <input type="text" class ="form-control" style="display: inline;width: 50%;height: 25px" name="Pokemon_name5"
            value="{{ result5.Name }}">
            {% else %}
            <input type="text" class ="form-control" style="display: inline;width: 50%;height: 25px" name="Pokemon_name5">
            {% endif %}
            <input type="submit" value="query" style="margin-left: 2%" name="query5">
            <input type="submit" value="add" style="margin-left: 2%" name="add5">
        </div>

        <br>
<!--enter rival pokemon 3 -->
        <h3>Please enter the third pokemon</h3>
        <div class="input-group" style="margin-left: 5%">
            {% if result6 %}
            <input type="text" class ="form-control" style="display: inline;width: 50%;height: 25px" name="Pokemon_name6"
            value="{{ result6.Name }}">
            {% else %}
            <input type="text" class ="form-control" style="display: inline;width: 50%;height: 25px" name="Pokemon_name6">
            {% endif %}
            <input type="submit" value="query" style="margin-left: 2%" name="query6">
            <input type="submit" value="add" style="margin-left: 2%" name="add6">
        </div>

<!--rival pokemon 1 information display-->
        <div>
            {% if result4 %}
            <table class="table table-hover table-bordered" style="width: 40%;margin-left: 5%">
                <caption>Pokemon 4 Information</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type1</th>
                    <th>Type2</th>
                    <th>HP</th>
                    <th>Attack</th>
                    <th>Defense</th>
                    <th>Sp. Atk</th>
                    <th>Sp. Def</th>
                    <th>Speed</th>
                    <th>Generation</th>
                    <th>Legendary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{result4.ID}}</td>
                    <td>{{result4.Name}}</td>
                    <td>{{result4.Type1}}</td>
                    <td>{{result4.Type2}}</td>
                    <td>{{result4.HP}}</td>
                    <td>{{result4.Attack}}</td>
                    <td>{{result4.Defense}}</td>
                    <td>{{result4.Sp_Atk}}</td>
                    <td>{{result4.Sp_Def}}</td>
                    <td>{{result4.Speed}}</td>
                    <td>{{result4.Generation}}</td>
                    <td>{{result4.Legendary}}</td>
                </tr>
                </tbody>
            </table>
            {% endif %}

            {% if addation4 %}
            <alert class="alert-warning" style="margin-left: 5%">
                {{addation4}}
            </alert>
            {% endif %}

            {% if warning4 %}
            <alert class="alert-warning" style="margin-left: 5%">
                {{warning4}}
            </alert>
            {% endif %}
        </div>

<!--rival pokemon 2 information display-->
        <div>
            {% if result5 %}
            <table class="table table-hover table-bordered" style="width: 40%;margin-left: 5%">
                <caption>Pokemon 5 Information</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type1</th>
                    <th>Type2</th>
                    <th>HP</th>
                    <th>Attack</th>
                    <th>Defense</th>
                    <th>Sp. Atk</th>
                    <th>Sp. Def</th>
                    <th>Speed</th>
                    <th>Generation</th>
                    <th>Legendary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{result5.ID}}</td>
                    <td>{{result5.Name}}</td>
                    <td>{{result5.Type1}}</td>
                    <td>{{result5.Type2}}</td>
                    <td>{{result5.HP}}</td>
                    <td>{{result5.Attack}}</td>
                    <td>{{result5.Defense}}</td>
                    <td>{{result5.Sp_Atk}}</td>
                    <td>{{result5.Sp_Def}}</td>
                    <td>{{result5.Speed}}</td>
                    <td>{{result5.Generation}}</td>
                    <td>{{result5.Legendary}}</td>
                </tr>
                </tbody>
            </table>
            {% endif %}

            {% if addation5 %}
            <alert class="alert-warning" style="margin-left: 5%">
                {{addation5}}
            </alert>
            {% endif %}

            {% if warning5 %}
            <alert class="alert-warning" style="margin-left: 5%">
                {{warning5}}
            </alert>
            {% endif %}
        </div>

<!--rival pokemon 3 information display        -->
        <div>
            {% if result6 %}
            <table class="table table-hover table-bordered" style="width: 40%;margin-left: 5%">
                <caption>Pokemon 6 Information</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type1</th>
                    <th>Type2</th>
                    <th>HP</th>
                    <th>Attack</th>
                    <th>Defense</th>
                    <th>Sp. Atk</th>
                    <th>Sp. Def</th>
                    <th>Speed</th>
                    <th>Generation</th>
                    <th>Legendary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{result6.ID}}</td>
                    <td>{{result6.Name}}</td>
                    <td>{{result6.Type1}}</td>
                    <td>{{result6.Type2}}</td>
                    <td>{{result6.HP}}</td>
                    <td>{{result6.Attack}}</td>
                    <td>{{result6.Defense}}</td>
                    <td>{{result6.Sp_Atk}}</td>
                    <td>{{result6.Sp_Def}}</td>
                    <td>{{result6.Speed}}</td>
                    <td>{{result6.Generation}}</td>
                    <td>{{result6.Legendary}}</td>
                </tr>
                </tbody>
            </table>
            {% endif %}

            {% if addation6 %}
            <alert class="alert-warning" style="margin-left: 5%">
                {{addation6}}
            </alert>
            {% endif %}

            {% if warning6 %}
            <alert class="alert-warning" style="margin-left: 5%">
                {{warning6}}
            </alert>
            {% endif %}
        </div>

        <br>

    </form>
</div>

</body>
</html>