<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Query</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<style>
    #left,#right { display: table-cell; }




















</style>

<nav id="common-nav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <!--<img class="navbar-logo" src="/images/bazel-navbar.svg">-->
                <p>Group 5</p>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/zihaow95/COMPGC27_Group5">
                        <span class="hidden-sm">GitHub</span>
                        <span class="nav-icon visible-sm"><i class="fa fa-github"></i></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://www.ucl.ac.uk">UCL</a>
                </li>
                <li>
                    <a href="https://www.satalia.com">SATALIA</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="home">
    <br>
    <hr>
    <div class="landing-section hero">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p class="hero-tagline">COMPGC27 Group 5</p>
                    <h1 class="hero-title">Programming for Business Analytics</h1>
                    <p>
                        <a>Professional </a>
                        <a>Accurate</a>
                    </p>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <img src="static/images/pokemon_title.png"
                         title="Pokemon"
                         alt="Pokemon title"
                         class="logo img-responsive"/>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div>
    <p>{{ info }}</p>
</div>

<div class="landing-section features">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" align="center">
                <h2>Welcome</h2>
            </div>
        </div>
        <!--enter teams' info-->
        <div class="row">
            <div class="col-sm-6" align="center">
                <h2>Please form your team</h2>
            </div>
            <div class="col-sm-6" align="center">
                <h2>What about your rival's team</h2>
            </div>
        </div>
        <!--1st pokemon-->
        <div class="row">
            <div class="col-sm-6" align="center">
                <p>Please enter the first pokemon</p>
            </div>
            <div class="col-sm-6" align="center">
                <p>Please enter the first pokemon</p>
            </div>
        </div>
        <!--enter 1st pokemon-->
        <div class="row">
            <!--enter user's first pokemon-->
            <div class="col-sm-6" align="center">
                <form class="form-inline" role="form" action="{{url_for('querypage')}}" method="POST">
                    <div class="input-group" style="margin-left: 5%" align="center">
                        {% if result1 %}
                        <span class="input-group-addon"><img src="static/images/pokeball.png" width="16"
                                                             height="16"/></span>
                        <input type="text" class="form-control" style="display: inline;width: 50%;height: 30px"
                               name="Pokemon_name1"
                               value="{{ result1.Name }}">
                        {% else %}
                        <span class="input-group-addon"><img src="static/images/pokeball.png" width="16"
                                                             height="16"/></span>
                        <input type="text" class="form-control" style="display: inline;width: 50%;height: 30px"
                               name="Pokemon_name1">
                        {% endif %}
                        <input type="submit" value="query" style="margin-left: 2%;height: 30px" name="query1">
                        <input type="submit" value="add" style="margin-left: 5%;height: 30px" name="add1">
                    </div>
                </form>
            </div>

            <!--enter rival's first pokemon-->
            <div class="col-sm-6" align="center">
                <form class="form-inline" role="form" action="{{url_for('querypage')}}" method="POST">
                    <div class="input-group" style="margin-left: 5%" align="center">
                        {% if result4 %}
                        <span class="input-group-addon"><img src="static/images/pokeball.png" width="16"
                                                             height="16"/></span>
                        <input type="text" class="form-control" style="display: inline;width: 50%;height: 30px"
                               name="Pokemon_name4"
                               value="{{ result4.Name }}">
                        {% else %}
                        <span class="input-group-addon"><img src="static/images/pokeball.png" width="16"
                                                             height="16"/></span>
                        <input type="text" class="form-control" style="display: inline;width: 50%;height: 30px"
                               name="Pokemon_name4">
                        {% endif %}
                        <input type="submit" value="query" style="margin-left: 2%;height: 30px" name="query4">
                        <input type="submit" value="add" style="margin-left: 5%;height: 30px" name="add4">
                    </div>
                </form>
            </div>
        </div>
        <!--message for 1st pokemon-->
        <div class="row">
            <!--message for user's first pokemon-->
            <div class="col-sm-6" align="center">
                {% if addation1 %}
                <alert class="alert-success" style="margin-left: 5%; color: red">
                    {{addation1}}
                </alert>
                {% endif %}

                {% if warning1 %}
                <alert class="alert-warning" style="margin-left: 5%; color: red">
                    {{warning1}}
                </alert>
                {% endif %}
                {% if needToAddWarning1 %}
                <alert class="alert-warning" style="margin-left: 5%; color: red">
                    {{needToAddWarning1}}
                </alert>
                {% endif %}
            </div>
            <!--message for rival's first pokemon-->
            <div class="col-sm-6" align="center">
                {% if addation4 %}
                <alert class="alert-success" style="margin-left: 5%; color: red">
                    {{addation4}}
                </alert>
                {% endif %}

                {% if warning4 %}
                <alert class="alert-warning" style="margin-left: 5%; color: red">
                    {{warning4}}
                </alert>
                {% endif %}
                {% if needToAddWarning4 %}
                <alert class="alert-warning" style="margin-left: 5%; color: red">
                    {{needToAddWarning4}}
                </alert>
                {% endif %}
            </div>
        </div>
        <!--2nd pokemon-->
        <div class="row">
            <div class="col-sm-6" align="center">
                <p>Please enter the second pokemon</p>
            </div>
            <div class="col-sm-6" align="center">
                <p>Please enter the second pokemon</p>
            </div>
        </div>
        <!--enter 2nd pokemon-->
        <div class="row">
            <!--enter user's second pokemon-->
            <div class="col-sm-6" align="center">
                <form class="form-inline" role="form" action="{{url_for('querypage')}}" method="POST">
                    <div class="input-group" style="margin-left: 5%" align="center">
                        {% if result2 %}
                        <span class="input-group-addon"><img src="static/images/pokeball.png" width="16"
                                                             height="16"/></span>
                        <input type="text" class="form-control" style="display: inline;width: 50%;height: 30px"
                               name="Pokemon_name2"
                               value="{{ result2.Name }}">
                        {% else %}
                        <span class="input-group-addon"><img src="static/images/pokeball.png" width="16"
                                                             height="16"/></span>
                        <input type="text" class="form-control" style="display: inline;width: 50%;height: 30px"
                               name="Pokemon_name2">
                        {% endif %}
                        <input type="submit" value="query" style="margin-left: 2%;height: 30px" name="query2">
                        <input type="submit" value="add" style="margin-left: 5%;height: 30px" name="add2">
                    </div>
                </form>
            </div>
            <!--enter rival's second pokemon-->
            <div class="col-sm-6" align="center">
                <form class="form-inline" role="form" action="{{url_for('querypage')}}" method="POST">
                    <div class="input-group" style="margin-left: 5%" align="center">
                        {% if result5 %}
                        <span class="input-group-addon"><img src="static/images/pokeball.png" width="16"
                                                             height="16"/></span>
                        <input type="text" class="form-control" style="display: inline;width: 50%;height: 30px"
                               name="Pokemon_name5"
                               value="{{ result5.Name }}">
                        {% else %}
                        <span class="input-group-addon"><img src="static/images/pokeball.png" width="16"
                                                             height="16"/></span>
                        <input type="text" class="form-control" style="display: inline;width: 50%;height: 30px"
                               name="Pokemon_name5">
                        {% endif %}
                        <input type="submit" value="query" style="margin-left: 2%;height: 30px" name="query5">
                        <input type="submit" value="add" style="margin-left: 5%;height: 30px" name="add5">
                    </div>
                </form>
            </div>
        </div>
        <!--message for 2nd pokemon-->
        <div class="row">
            <!--message for user's second pokemon-->
            <div class="col-sm-6" align="center">
                {% if addation2 %}
                <alert class="alert-success" style="margin-left: 5%; color: red">
                    {{addation2}}
                </alert>
                {% endif %}

                {% if warning2 %}
                <alert class="alert-warning" style="margin-left: 5%; color: red">
                    {{warning2}}
                </alert>
                {% endif %}
                {% if needToAddWarning2 %}
                <alert class="alert-warning" style="margin-left: 5%; color: red">
                    {{needToAddWarning2}}
                </alert>
                {% endif %}
            </div>
            <!--message for rival's second pokemon-->
            <div class="col-sm-6" align="center">
                {% if addation5 %}
                <alert class="alert-success" style="margin-left: 5%; color: red">
                    {{addation5}}
                </alert>
                {% endif %}

                {% if warning5 %}
                <alert class="alert-warning" style="margin-left: 5%; color: red">
                    {{warning5}}
                </alert>
                {% endif %}
                {% if needToAddWarning5 %}
                <alert class="alert-warning" style="margin-left: 5%; color: red">
                    {{needToAddWarning5}}
                </alert>
                {% endif %}
            </div>
        </div>
        <!--3rd pokemon-->
        <div class="row">
            <div class="col-sm-6" align="center">
                <p>Please enter the third pokemon</p>
            </div>
            <div class="col-sm-6" align="center">
                <p>Please enter the third pokemon</p>
            </div>
        </div>
        <!--enter 3rd pokemon-->
        <div class="row">
            <!--enter user's third pokemon-->
            <div class="col-sm-6" align="center">
                <form class="form-inline" role="form" action="{{url_for('querypage')}}" method="POST">
                    <div class="input-group" style="margin-left: 5%" align="center">
                        {% if result3 %}
                        <span class="input-group-addon"><img src="static/images/pokeball.png" width="16"
                                                             height="16"/></span>
                        <input type="text" class="form-control" style="display: inline;width: 50%;height: 30px"
                               name="Pokemon_name3"
                               value="{{ result3.Name }}">
                        {% else %}
                        <span class="input-group-addon"><img src="static/images/pokeball.png" width="16"
                                                             height="16"/></span>
                        <input type="text" class="form-control" style="display: inline;width: 50%;height: 30px"
                               name="Pokemon_name3">
                        {% endif %}
                        <input type="submit" value="query" style="margin-left: 2%;height: 30px" name="query3">
                        <input type="submit" value="add" style="margin-left: 5%;height: 30px" name="add3">
                    </div>
                </form>
            </div>
            <!--enter rival's third pokemon-->
            <div class="col-sm-6" align="center">
                <form class="form-inline" role="form" action="{{url_for('querypage')}}" method="POST">
                    <div class="input-group" style="margin-left: 5%" align="center">
                        {% if result6 %}
                        <span class="input-group-addon"><img src="static/images/pokeball.png" width="16"
                                                             height="16"/></span>
                        <input type="text" class="form-control" style="display: inline;width: 50%;height: 30px"
                               name="Pokemon_name6"
                               value="{{ result6.Name }}">
                        {% else %}
                        <span class="input-group-addon"><img src="static/images/pokeball.png" width="16"
                                                             height="16"/></span>
                        <input type="text" class="form-control" style="display: inline;width: 50%;height: 30px"
                               name="Pokemon_name6">
                        {% endif %}
                        <input type="submit" value="query" style="margin-left: 2%;height: 30px" name="query6">
                        <input type="submit" value="add" style="margin-left: 5%;height: 30px" name="add6">
                    </div>
                </form>
            </div>
        </div>
        <!--message for 3rd pokemon-->
        <div class="row">
            <!--message for user's third pokemon-->
            <div class="col-sm-6" align="center">
                {% if addation3 %}
                <alert class="alert-success" style="margin-left: 5%; color: red">
                    {{addation3}}
                </alert>
                {% endif %}

                {% if warning3 %}
                <alert class="alert-warning" style="margin-left: 5%; color: red">
                    {{warning3}}
                </alert>
                {% endif %}
                {% if needToAddWarning3 %}
                <alert class="alert-warning" style="margin-left: 5%; color: red">
                    {{needToAddWarning3}}
                </alert>
                {% endif %}
            </div>
            <!--message for rival's third pokemon-->
            <div class="col-sm-6" align="center">
                {% if addation6 %}
                <alert class="alert-success" style="margin-left: 5%; color: red">
                    {{addation6}}
                </alert>
                {% endif %}

                {% if warning6 %}
                <alert class="alert-warning" style="margin-left: 5%; color: red">
                    {{warning6}}
                </alert>
                {% endif %}
                {% if needToAddWarning6 %}
                <alert class="alert-warning" style="margin-left: 5%; color: red">
                    {{needToAddWarning6}}
                </alert>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<br>

<div class="landing-section features">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" align="center">
                <ul class="nav nav-tabs">
                    <li><a class="active" href="#pokemon_left1" data-toggle="tab">Pokemon 1</a></li>
                    <li><a href="#pokemon_left2" data-toggle="tab">Pokemon 2</a></li>
                    <li><a href="#pokemon_left3" data-toggle="tab">Pokemon 3</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="pokemon_left1">
                        {% if result1 != 0 %}
                        <div class="card">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <img class="card-img-top" src="/static/images/pokemon_pic/{{ result1.ID }}.png"
                                         height="220px" width="220px" align="center"/>
                                    <img src="/static/images/result1.png" height="220px" width="300px"/>
                                </tr>
                                </tbody>
                            </table>

                            <div class="card-body">
                                <table class="table table-striped" align="center" cellpadding="10">
                                    <thead valign="center">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Generation</th>
                                        <th>Type1</th>
                                        <th>Type2</th>
                                    </tr>
                                    </thead>
                                    <tbody align="center">
                                    <tr>
                                        <td>{{result1.ID}}</td>
                                        <td>{{result1.Name}}</td>
                                        <td>{{result1.Generation}}</td>
                                        <td>{{result1.Type1}}</td>
                                        <td>{{result1.Type2}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <h4>You need to add a pokemon</h4>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="pokemon_left2">
                        {% if result2 != 0 %}
                        <div class="card">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <img class="card-img-top" src="/static/images/pokemon_pic/{{ result2.ID }}.png"
                                         height="220px" width="220px" align="center"/>
                                    <img src="/static/images/result2.png" height="220px" width="300px"/>
                                </tr>
                                </tbody>
                            </table>

                            <div class="card-body">
                                <table class="table table-striped" align="center" cellpadding="10">
                                    <thead valign="center">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Generation</th>
                                        <th>Type1</th>
                                        <th>Type2</th>
                                    </tr>
                                    </thead>
                                    <tbody align="center">
                                    <tr>
                                        <td>{{result2.ID}}</td>
                                        <td>{{result2.Name}}</td>
                                        <td>{{result2.Generation}}</td>
                                        <td>{{result2.Type1}}</td>
                                        <td>{{result2.Type2}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <h4>You need to add a pokemon</h4>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="pokemon_left3">
                        {% if result3 != 0 %}
                        <div class="card">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <img class="card-img-top" src="/static/images/pokemon_pic/{{ result3.ID }}.png"
                                         height="220px" width="220px" align="center"/>
                                    <img src="/static/images/result3.png" height="220px" width="300px"/>
                                </tr>
                                </tbody>
                            </table>

                            <div class="card-body">
                                <table class="table table-striped" align="center" cellpadding="10">
                                    <thead valign="center">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Generation</th>
                                        <th>Type1</th>
                                        <th>Type2</th>
                                    </tr>
                                    </thead>
                                    <tbody align="center">
                                    <tr>
                                        <td>{{result3.ID}}</td>
                                        <td>{{result3.Name}}</td>
                                        <td>{{result3.Generation}}</td>
                                        <td>{{result3.Type1}}</td>
                                        <td>{{result3.Type2}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <h4>You need to add a pokemon</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6" align="center">
                <ul class="nav nav-tabs">
                    <li><a class="active" href="#pokemon_right1" data-toggle="tab">Pokemon 1</a></li>
                    <li><a href="#pokemon_right2" data-toggle="tab">Pokemon 2</a></li>
                    <li><a href="#pokemon_right3" data-toggle="tab">Pokemon 3</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="pokemon_right1">
                        {% if result4 != 0 %}
                        <div class="card">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <img class="card-img-top" src="/static/images/pokemon_pic/{{ result4.ID }}.png"
                                         height="220px" width="220px" align="center"/>
                                    <img src="/static/images/result4.png" height="220px" width="300px"/>
                                </tr>
                                </tbody>
                            </table>

                            <div class="card-body">
                                <table class="table table-striped" align="center" cellpadding="10">
                                    <thead valign="center">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Generation</th>
                                        <th>Type1</th>
                                        <th>Type2</th>
                                    </tr>
                                    </thead>
                                    <tbody align="center">
                                    <tr>
                                        <td>{{result4.ID}}</td>
                                        <td>{{result4.Name}}</td>
                                        <td>{{result4.Generation}}</td>
                                        <td>{{result4.Type1}}</td>
                                        <td>{{result4.Type2}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <h4>You need to add a pokemon</h4>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="pokemon_right2">
                        {% if result5 != 0 %}
                        <div class="card">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <img class="card-img-top" src="/static/images/pokemon_pic/{{ result5.ID }}.png"
                                         height="220px" width="220px" align="center"/>
                                    <img src="/static/images/result5.png" height="220px" width="300px"/>
                                </tr>
                                </tbody>
                            </table>

                            <div class="card-body">
                                <table class="table table-striped" align="center" cellpadding="10">
                                    <thead valign="center">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Generation</th>
                                        <th>Type1</th>
                                        <th>Type2</th>
                                    </tr>
                                    </thead>
                                    <tbody align="center">
                                    <tr>
                                        <td>{{result5.ID}}</td>
                                        <td>{{result5.Name}}</td>
                                        <td>{{result5.Generation}}</td>
                                        <td>{{result5.Type1}}</td>
                                        <td>{{result5.Type2}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <h4>You need to add a pokemon</h4>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="pokemon_right3">
                        {% if result6 != 0 %}
                        <div class="card">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <img class="card-img-top" src="/static/images/pokemon_pic/{{ result6.ID }}.png"
                                         height="220px" width="220px" align="center"/>
                                    <img src="/static/images/result6.png" height="220px" width="300px"/>
                                </tr>
                                </tbody>
                            </table>

                            <div class="card-body">
                                <table class="table table-striped" align="center" cellpadding="10">
                                    <thead valign="center">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Generation</th>
                                        <th>Type1</th>
                                        <th>Type2</th>
                                    </tr>
                                    </thead>
                                    <tbody align="center">
                                    <tr>
                                        <td>{{result6.ID}}</td>
                                        <td>{{result6.Name}}</td>
                                        <td>{{result6.Generation}}</td>
                                        <td>{{result6.Type1}}</td>
                                        <td>{{result6.Type2}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <h4>You need to add a pokemon</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div id="battle_button" align="center">
    <form action="{{ url_for('simpleresultpage') }}" method="post">
        <input type="submit" value=" "
               style="width: 267px; height: 60px;background: url(static/images/battle.jpg)" name="battle"
               onclick="alert">
    </form>

</div>
<br>
<hr>

<footer class="footer" style="background: url(static/images/pishen.jpeg) no-repeat right;background-size: 1350px 650px">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-4 col-md-2">
                <p class="lead">
                    <small><strong>About</strong></small>
                </p>
                <ul class="list-unstyled" style="color: #A0522D">
                    <li><a href="https://www.pokemon.com/" style="color: #A0522D">Pokemon</a></li>
                    <li><a href="https://www.ucl.ac.uk" style="color: #A0522D">UCL</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <p class="lead">
                    <small><strong>Stay Connected</strong></small>
                </p>
                <ul class="list-unstyled" style="color: #A0522D">
                    <li><a href="https://twitter.com" style="color: #A0522D">Twitter</a></li>
                    <li><a href="https://facebook.com" style="color: #A0522D">Facebook</a></li>
                    <li><a href="https://github.com/zihaow95/COMPGC27_Group5" style="color: #A0522D">GitHub</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <p class="lead">
                    <small><strong>Team Members</strong></small>
                </p>
                <ul class="list-unstyled" style="color: #A0522D">
                    <li><a style="color: #A0522D"> Li Xuanzeng</a></li>
                    <li><a style="color: #A0522D"> Wang Zihao</a></li>
                    <li><a style="color: #A0522D"> Wu Yonglin</a></li>
                    <li><a style="color: #A0522D"> Zhang Yueying</a></li>
                    <li><a style="color: #A0522D"> Zhang Zeyang</a></li>
                    <li><a style="color: #A0522D"> Zhou Qianqian</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img src="static/images/ucl_engineering.jpeg" width="200" height="60"/>
                <p class="text-muted">&copy; 2017 UCL ENGINEERING</p>
            </div>
        </div>
    </div>

</footer>

</body>
</html>